@inject NavigationManager NavigationManager

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="">Dealership Management</a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse @(collapseNavMenu ? "collapse" : "")" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link @(NavigationManager.Uri == NavigationManager.BaseUri ? "active" : "")" href="">
                        <span class="oi oi-home me-2"></span> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(NavigationManager.Uri.Contains("/cars") ? "active" : "")" href="cars">
                        <span class="oi oi-list me-2"></span> Cars
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(NavigationManager.Uri.Contains("/search") ? "active" : "")" href="search">
                        <span class="oi oi-magnifying-glass me-2"></span> Search
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

